<app-spinner></app-spinner>
<nav class="nav-bar">
  <div class="container">
    <div class="logo"><a href="#">RECICLAJES CATALAN</a></div>
    <div class="links">
      <ul>
        <li><a routerLink="/suppliers">Proveedores</a></li>
        <li><a routerLink="/articles">Artículos</a></li>
        <button (click)="onLogOut()">Salir</button>
      </ul>
    </div>
  </div>
</nav>
