.nav-bar {
  width:100%; /* if we want to have navBar fixed on top */
  background-color: rgb(2, 209, 19);
  color: white;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1250px) {
      width:95%;
    }
  }

}

.logo {
  font-size: 1.2em;
  padding: 6px;

  a{
    text-decoration: none;
    color: white;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
  }
  
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;

    &:hover, &:active {
      background-color: rgba(256,256,256,0.2);  
    }

  }
}