<div class="container">
  <form [formGroup]="saveForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 *ngIf="!articleCode">Nuevo artículo</h2>
          <h2 *ngIf="articleCode">Modificar artículo</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <label for="articleCode">Código: </label>
          <mat-form-field class="form-field">
            <input type="text" id="articleCode" placeholder="Código" formControlName="articleCode">
          </mat-form-field>
        </div>
        <div>
          <label for="description">Descripción:</label>
          <mat-form-field class="form-field">
          <input type="text" id="description" class= "description" placeholder="Descripción" formControlName="description">
          </mat-form-field>
        </div>
        <div>
          <label for="pvpP">Precio Compra:</label>
          <mat-form-field class="form-field">
          <input type="text" id="pvpP" placeholder="Precio Compra" formControlName="pricePurchase">
          </mat-form-field>
        </div>
        <div>
          <label for="pvpS">Precio Venta:</label>
          <mat-form-field class="form-field">
          <input type="text" id="pvpS" placeholder="Precio Venta" formControlName="priceSale">
          </mat-form-field>
        </div>
        <div>
          <label for="stock">Stock:</label>
          <mat-form-field class="form-field">
          <input type="text" id="stock" placeholder="Stock" formControlName="stock">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onBack()">Volver</button>
        <button *ngIf="!articleCode" mat-raised-button="" color="primary" (click)="onSave()">Guardar</button>
        <button *ngIf="articleCode" mat-raised-button="" color="accent" (click)="onEdit()">Modificar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>



