.mat-card {
  width:50%; 
  margin: 252px auto;
}

.mat-card-header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.mat-card-title{
  padding: 10px;
}

.mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: center; /* align vertical */

  input {
    padding: 10px;
    width: 100%;
  }
}

.mat-card-actions{
  display: flex;
  justify-content: center; /* align horizontal */
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}