<div class="loader-container" *ngIf="isLoading">
  <mat-spinner style="top:50%; left:50%"></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <form #form="ngForm" (ngSubmit)="onLogin(form)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Acceso a Reciclajes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="form-field">
          <input type="text" name="username" ngModel placeholder="Usuario">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input type="password" name="password" ngModel placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button="" color="primary" type="submit" >Acceder</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
