<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Artículos</h1>
  <div class="article-header">
    <div class="search-buttons">
      <input style="padding: 10px" type="text" [(ngModel)]="searchInput" placeholder="Buscar">
      <button (click)="onBuscar()" mat-icon-button matTooltip="Buscar"><mat-icon>search</mat-icon></button>
      <button (click)="onReset()"mat-icon-button matTooltip="Reset"><mat-icon>refresh</mat-icon></button>
    </div>
    <div class="add-button">
      <button (click)="onAdd()" mat-icon-button matTooltip="Añadir"><mat-icon>add_circle</mat-icon> Nuevo artículo</button>
    </div>
  </div>
  <table mat-table [dataSource]="articles" class="mat-elevation-z8 article-table">
    
    <!-- Code Column -->
    <ng-container matColumnDef="articleCode">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.articleCode}} </td>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <!-- pvp Purchase Column -->
    <ng-container matColumnDef="pricePurchase">
      <th mat-header-cell *matHeaderCellDef> Pvp C. </th>
      <td mat-cell *matCellDef="let element"> {{element.pricePurchase | currency:'EUR':'symbol':'1.2-3'}} </td>
    </ng-container>
    <!-- pvp Sale Column -->
    <ng-container matColumnDef="priceSale">
      <th mat-header-cell *matHeaderCellDef> Pvp V. </th>
      <td mat-cell *matCellDef="let element"> {{element.priceSale | currency:'EUR':'symbol':'1.2-3'}} </td>
    </ng-container>
    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="onEdit(element.articleCode)" mat-icon-button matTooltip="Modificar"><mat-icon>edit</mat-icon></button>
        <button (click)="onDelete(element.articleCode)" mat-icon-button color="warn" matTooltip="Eliminar"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div>


