@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-green, 600, 500, A100);
$my-app-accent:  mat-palette($mat-amber, 700, 500, A100);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  max-width: 1200px;
  margin: 0 auto;
  h2, h1 {
    text-align: center;
    margin-top: 20px;
  }
  h1 {
    text-decoration: underline;
  }
  table {
    margin-top:20px;
    width: 100%;
    td,th {
      padding: 10px;
    }
  }

  @media screen and (max-width: 1250px) {
    width:95%;
  }
}
